name: Scala Build and Test CI
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - name: Cache Ivy and Coursier
        uses: actions/cache@v4
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt', '**/project/*.scala', '**/project/*.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-
      - name: run compile
        run: sbt compile
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - name: Cache Ivy and Coursier
        uses: actions/cache@v4
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt', '**/project/*.scala', '**/project/*.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-
      - name: run tests
        run: sbt test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - name: Cache Ivy and Coursier
        uses: actions/cache@v4
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt', '**/project/*.scala', '**/project/*.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-
      - name: Formatting
        run: sbt scalafmtSbtCheck scalafmtCheck