on:
  release:
    types: [published]


name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: publish to new Tag
        run: sbt publishSmithy4Play
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.event.release.tag_name }}
