on:
  release:
    types: [published]


name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - name: Cache Ivy and Coursier
        uses: actions/cache@v4
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt', '**/project/*.scala', '**/project/*.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-
      - name: publish to new Tag
        run: sbt publishSmithy4Play
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.event.release.tag_name }}
